@media (max-width:768px){
    header {
        height: 75px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;

    } 

    .welcome {
        position: static; /* Reset position */
        transform: none; /* Reset transform */
        font-size: small;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .mutation {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .mutation img {
        width: 100px;
        height: auto;
    }

    form input {
        width: 300px;
    }
}