@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #FFFF99;
    --secondary-color: #A3C9B8;
    --accend : #C1A788;

    --font-secondary : 'Poppins';
    --font-primary : 'Merriweather';
}

* {
    width: 950px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
main {
    background-color: var(--primary-color);
}

.main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    justify-content: center;
    max-width: 100%;
}

.one {
    background-color: var(--primary-color);
    border: 2px solid black;
}
.two {
    background-color: var(--secondary-color) ;
    border: 2px solid black;
}
.three {
    background-color:var(--accend);
    border: 2px solid black;
}

.primary{
    font-family: var(--font-primary);
    font-size: x-large;
}

.secondary {
    font-family: var(--font-secondary);
    font-size: x-large;
}

img {
    width: 100%;
    height: auto;
}