@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #FFFF99;
    --secondary-color: #A3C9B8;
    --accend : #C1A788;

    --font-secondary : 'Poppins';
    --font-primary : 'Merriweather';
}

* {
    margin : 0 auto;
    font-family: var(--font-primary);
}
header, footer {
    padding : 1rem;
    text-align : center;
    color : black;
    background-color : var(--primary-color);
}
main {
    margin-top : 1rem;
    margin-bottom : 1rem;
    max-width : 500px;
}
form {
    background-color : var(--secondary-color);
    padding : 3rem;
}
form label {
    display : block;
}
fieldset {
    border : none;
}
form input[type="text"], form input[type="date"], form select, form textarea {
    display : block;
    width : 100%;
    padding : 0.5rem;
}
form input[type="radio"], form input[type="checkbox"] {
    margin-right : 0.5rem;
}
form input[type="submit"] {
    width : 100%;
    margin-top : 1rem;
    padding : 0.5rem;
    border : none;
    background-color : var(--accend);
    color : black;
    border-radius : 1rem;
    font-size : 1rem;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
